<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}} | McGill initiative in Computational Medicine - McGill University</title>

    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link href="/styles/main.css" rel="stylesheet" />

    <script type="text/javascript">
        document.addEventListener("DOMContentLoaded", () => {
            document.getElementById("main_nav__toggle").addEventListener("click", function () {
                if (this.className === "") {
                    this.className = "close";
                    document.getElementById("main_nav").className = "shown";
                } else {
                    this.className = "";
                    document.getElementById("main_nav").className = "";
                }
            });
        });
    </script>

    {% if page.url == "/classes/" %}
    <script src="https://ajax.googleapis.com/ajax/libs/d3js/5.9.0/d3.min.js"></script>
    <script src="/scripts/compare-strings.js" defer></script>
    <script src="/scripts/classes.js" defer></script>
    {% endif %}
</head>
<body>

<header>
    <div class="header__content">
        <div class="header__content__logo">
            <a href="https://www.mcgill.ca/">
                <img src="/img/logo_micm.svg" alt="McGill initiative in Computational Medicine Logo">
            </a>
        </div>
        <!--<h1 class="header__content__site_title">
            McGill initiative in <br>
            Computational Medicine
        </h1>-->
    </div>
</header>
<nav class="main_nav" id="main_nav">
    <button id="main_nav__toggle">
        <span id="toggle_open"><svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="bars" class="svg-inline--fa fa-bars fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z"></path></svg></span>
        <span id="toggle_close"><svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="times-circle" class="svg-inline--fa fa-times-circle fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm121.6 313.1c4.7 4.7 4.7 12.3 0 17L338 377.6c-4.7 4.7-12.3 4.7-17 0L256 312l-65.1 65.6c-4.7 4.7-12.3 4.7-17 0L134.4 338c-4.7-4.7-4.7-12.3 0-17l65.6-65-65.6-65.1c-4.7-4.7-4.7-12.3 0-17l39.6-39.6c4.7-4.7 12.3-4.7 17 0l65 65.7 65.1-65.6c4.7-4.7 12.3-4.7 17 0l39.6 39.6c4.7 4.7 4.7 12.3 0 17L312 256l65.6 65.1z"></path></svg></span>
    </button>
    <div class="main_nav__content">
        <ul class="main_nav__links">
            <li class="main_nav__item">
                <a href="https://mcgill.ca/micm/" class="main_nav__link">
                    <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="home" class="svg-inline--fa fa-home fa-w-18" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path fill="currentColor" d="M280.37 148.26L96 300.11V464a16 16 0 0 0 16 16l112.06-.29a16 16 0 0 0 15.92-16V368a16 16 0 0 1 16-16h64a16 16 0 0 1 16 16v95.64a16 16 0 0 0 16 16.05L464 480a16 16 0 0 0 16-16V300L295.67 148.26a12.19 12.19 0 0 0-15.3 0zM571.6 251.47L488 182.56V44.05a12 12 0 0 0-12-12h-56a12 12 0 0 0-12 12v72.61L318.47 43a48 48 0 0 0-61 0L4.34 251.47a12 12 0 0 0-1.6 16.9l25.5 31A12 12 0 0 0 45.15 301l235.22-193.74a12.19 12.19 0 0 1 15.3 0L530.9 301a12 12 0 0 0 16.9-1.6l25.5-31a12 12 0 0 0-1.7-16.93z"></path></svg>
                    <span class="home-text">Home</span>
                </a>
            </li>
            {%- for p in collections.page -%}
                <li class="main_nav__item {{ 'active' if p.data.url === page.url else '' }}">
                    <a href="{{ p.data.url }}" class="main_nav__link">{{ p.data.title }}</a>
                </li>
            {%- endfor -%}
        </ul>
    </div>
</nav>

<main>
    <div class="main__content">
        <div class="breadcrumb">
            <a href="https://mcgill.ca" class="custom-breadcrumbs-item-1">McGill.CA</a> /
            <a href="https://mcgill.ca/micm" class="custom-breadcrumbs-item-2">McGill initiative in Computational Medicine</a>
        </div>
        {{ content | safe }}
    </div>
</main>

<footer class="site_footer">
    <div class="site_footer__content">
        <div class="site_footer__column">
            <div class="site_footer__logo">
                <img src="/img/logo_micm.svg" alt="McGill initiative in Computational Medicine Logo">
            </div>
            <address class="site_footer__address">
                740 Dr. Penfield Avenue <br>
                Montreal, Quebec <br>
                Canada, H3A 0G1 <br>
                email: <a href="mailto:info-micm@mcgill.ca">info-micm@mcgill.ca</a>
            </address>
        </div>
        <div class="site_footer__column">
            <a href="#" id="sign-up">Sign up to our newsletter</a>
        </div>
    </div>
</footer>

<footer class="mcgill_footer">
    <div class="mcgill_footer__content">
        <div class="mcgill_footer__logo">
            <img src="/img/mcgill_watermark.svg" alt="McGill Watermark">
        </div>
        <div class="mcgill_footer__copyright">
            Copyright &copy; 2019 McGill University
        </div>
    </div>
</footer>

</body>
</html>
