---
layout: base.njk
---

{{ content | safe }}

<div class="events">
    <div class="collapsible">
        <h2>Upcoming</h2>
        <div class="collapsible__items">
            {% for event in collections.upcoming_events %}
                <div class="collapsible__item">
                    <h3>{{  event.data.title }}</h3>
                    <strong class="event__date">{{ event.data.display_date }}</strong>
                    {{ event.templateContent | safe }}
                    <a href="{{ event.url }}" class="event__read_more">Read More</a>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="collapsible">
        <h2>Past Events</h2>
        <div class="collapsible__items">
            {% for event in collections.past_events %}
                <div class="collapsible__item">
                    <h3>{{  event.data.title }}</h3>
                    {{ event.templateContent | safe }}
                    <a href="{{ event.url }}" class="event__read_more">Read More</a>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
